@model IEnumerable<GainTracker.Models.ViewModels.StatisticListViewModel>

@{
    ViewBag.Title = "ViewStatistics";
}

<h2>Site statistics</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visitors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueVisitors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredUsers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visitors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueVisitors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredUsers)
        </td>
    </tr>
}

</table>
