@model GainTracker.Models.ViewModels.ProfileIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@User.Identity.Name's profile</h2>
<h4>Your tracked data</h4>

<p>
    @*@Html.ActionLink("Add category", "AddTrackedData", "Profile", new { @class = "btn btn-default btn.sm" })*@
    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#category-modal">Add category</button>
</p>
<table class="table">

@foreach (var item in Model.TrackedData) {
    <tr>
        <td>
            <h4>
                @item.Name |
                @foreach (var datapoint in item.DataPoints)
                {
                    @datapoint.Value <text>|</text>
                }
            </h4>
            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#data-modal" onclick="setAddDataId(@item.Id)"><span class="glyphicon glyphicon-plus"></span></button>
            <button id="show-graph" class="pull-right right btn btn-default btn-sm" data-toggle="modal" data-target="#graph-modal" onclick="showGraph(@Html.Raw(Json.Encode(item.DataPointValues)))">Show graph</button>
        </td>
    </tr>
}

</table>

@Html.Partial("_AddTrackedPartial", Model.CreateTrackedViewModel)

@Html.Partial("_AddDataPartial")

@Html.Partial("_AddExercisePartial")

<div id="graph-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Graph</h4>
            </div>
            <div class="modal-body">
                <canvas id="graph-canvas"></canvas>
            </div><br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/GraphScript.js"></script>
    <script src="~/Scripts/profile.js"></script>
}